.basket-section {
  padding: 100px 50px 0px;
  max-width: 1200px;
  margin: 0px auto 100px;
  min-height: 800px;
  display: flex;
  justify-content: space-between;

  h3 {
    font-family: 'montserrat';
    color: #A9ACB3;
    letter-spacing: -0.03em;
    margin-bottom: 27px;
  }

  .left-main-block {
    width: 60%;

    label {
      margin-top: 20px;
      font-family: "source sans pro", helvetica, arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.36px;
      line-height: 24px;
    }

    input,
    textarea {
      border: 1px solid #fcf0f0;
      padding: 7px 7px;
      border-radius: 3px;
      font-size: 14px;
      color: #444;
      background: #f3f3f3;
      border-radius: 0;
      outline: none;
    }
  }
}

.mini-block-input {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 2%;
}

.big-block-input {
  display: flex;
  flex-direction: column;
  width: 82%;
}

.right-main-block {
  width: 40%;

  .table {
    padding-top: 43px;

    .t-head {
      width: 100%;
      border: 1px solid #d3d2d2;
      height: 40px;
      padding: 6px 0px 6px 30px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      span {
        font-family: "source sans pro", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        width: 50%;
      }
    }

    .tbody {
      .block-prod {
        display: flex;
        border: 1px solid #d3d2d2;
        border-top: none;

        .mini-block {
          padding-top: 10px;
          font-family: "source sans pro", helvetica, arial, sans-serif;
          width: 50%;
          height: 120px;
          padding-left: 30px;

          i {
            font-size: 20px;
            color: red;
            transition: .45s all;
            cursor: pointer;
            display: block;
            margin-top: 12px;
            margin-left: 15px;
          }

          i:hover {
            transform: rotate(90deg);
          }
        }

        .mini-block.right {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.bold-p {
  font-size: 15px;
  color: #999da9;
  font-weight: bold;

  span {
    font-weight: 500;
  }
}

button#place_order {
  background: #1284e8;
  font-family: 'montserrat', helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 30px;
  color: #fff;
  letter-spacing: 0.04em;
  border: none;
}

.t-footer {
  font-family: "montserrat", sans-serif;
  border: 1px solid #d3d2d2;
  border-top: none;
  height: 40px;
  padding: 9px 15px;
  display: flex;
  justify-content: space-between;

  span {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: bold;
    line-height: 22.8571px;
  }
}

@media screen and (max-width: 1040px) {
  .basket-section {
    flex-direction: column;
    align-items: center;
    .left-main-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mini-wrapper {
        width: 82%;
        justify-content: space-between;

        .mini-block-input {
          width: 47%;
          margin-right: 0%;
        }
      }
    }

    .right-main-block {
      width: 430px;
      margin-top: 60px;

      h3 {
        text-align: center;
      }
    }
  }

}

@media screen and (max-width: 768px) {

  .basket-section {

    .left-main-block {
      .mini-wrapper {
        flex-direction: column;
        justify-content: space-between;
        width: 95%;

        .mini-block-input {
          width: 100%;
        }
      }

      .big-block-input {
        width: 95%;
      }
    }
  }
}


@media screen and (max-width: 478px) {

  .basket-section {
    padding: 100px 20px 0px;

    .left-main-block {
      .mini-wrapper {
        width: 99%;
      }

      .big-block-input {
        width: 99%;
      }
    }

    .right-main-block {
      width: 99%;
    }
  }


}