header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all .35s;
}

.center-block {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all .32s ease-out;
  }

  a:hover::after {
    content: "";
    width: 100%;
  }

}

.create {
  a {
    background: #1285E8;
    padding: 0px 22px;
    color: #fff;
    border: 2px solid #1285E8;
    transition: all .32s ease-out;
  }

  a:hover {
    text-decoration: none;
    background: transparent;
    border-color: white;
  }

  a::after {
    content: none;
  }

  a:hover::after {
    content: none;
  }

}

.nav-end,
.nav-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.nav-start {
  width: 70px;
}
