header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all .35s;
}

.center-block {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all .32s ease-out;
  }

  a:hover::after {
    content: "";
    width: 100%;
  }

}

.create {
  a {
    background: #1285E8;
    padding: 0px 22px;
    color: #fff;
    border: 2px solid #1285E8;
    transition: all .32s ease-out;
  }

  a:hover {
    text-decoration: none;
    background: transparent;
    border-color: white;
  }

  a::after {
    content: none;
  }

  a:hover::after {
    content: none;
  }

}

.nav-end,
.nav-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.nav-start {
  width: 70px;
}

.products {
  position: relative;
}

.navbar-mini {
  padding-top: 8px;
  position: absolute;
  left: -45px;
  background-color: #1285E8;
  color: white;
  opacity: 0;
  height: 90px;
  width: 150px;
  transition: .45s all;

  ul {
    list-style-type: none;

    li {
      cursor: pointer;
      position: relative;
      width: 90px;
    }

    li::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 0px;
      width: 0%;
      height: 1px;
      background-color: white;
      transition: all .32s ease-out;
    }

    li:hover::after {
      content: "";
      width: 100%;
    }
  }
}

.products:hover {
  .navbar-mini {
    opacity: 1;
  }
}

.arrow-style {
  position: absolute;
  color: white;
  top: 6px;
  left: 50px;
}

.busket {
  height: 45px;
  border: 2px solid #1285E8;
  padding: 5px 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  i{
    margin-right: 4px;
    font-size: 20px;
  }
}