<header>
  <div class="center-block">
    <div class="logo">
      <a href="">LaserHub</a>
    </div>
    <div class="nav-start">
      <div class="products">
        <a href="">Товари</a>
      </div>
      <div class="service">
        <a href="">Послуги</a>
      </div>
    </div>
    <div class="nav-end">
      <div class="blog">
        <a href="">Блог</a>
      </div>
      <div class="contacts">
        <a href="">Контакти</a>
      </div>
      <div class="store-creators">
        <a href="">Store Creators</a>
      </div>
      <div class="create">
        <a href="">Create</a>
      </div>
    </div>
  </div>
</header>
