<header [style.backgroundColor]="background?'transparent':'#333'">
  <div class="center-block">
    <div class="logo">
      <a class="logoText" [routerLink]="[ '/home' ]">LaserHUB</a>
    </div>
    <div class="nav-end">
      <div class="nav-start">
        <div class="products">
          <a [routerLink]="[ '/products' ]">Товари</a>
          <i class="bi bi-arrow-down-short arrow-style"></i>
          <div class="navbar-mini">
            <ul>
              <li [routerLink]="[ '/lasercut' ]">laser cutting</li>
              <li [routerLink]="[ '/gardencube' ]">garden cube</li>
              <li [routerLink]="[ '/loftfurniture' ]">loft furniture</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog">
        <a [routerLink]="[ '/blog' ]">Блог</a>
      </div>
      <div class="contacts">
        <a [routerLink]="[ '/contacts' ]">Контакти</a>
      </div>
      <div class="store-creators">
        <a [routerLink]="[ '/storecreators' ]">Store Creators</a>
      </div>
      <div class="busket" [routerLink]="[ '/basket' ]"><i class="bi bi-cart"></i> <span
          class="woocommerce-Price-amount amount"><span
            class="woocommerce-Price-currencySymbol">UAH </span>{{totalPrice}}</span></div>
      <div class="hamburger-menu">
        <input id="menutoggle" type="checkbox" [(ngModel)]="checkBurger" name="checkBurger">
        <label class="menubtn" for="menutoggle">
          <span></span>
        </label>
        <ul class="menubox" (click)="hideBurger()">
          <li><a class="menuitem" [routerLink]="[ '/blog']">Блог</a></li>
          <hr>
          <li><a class="menuitem" [routerLink]="[ '/contacts']">Контакти</a></li>
          <hr>
          <li><a class="menuitem" [routerLink]="[ '/storecreators']">Store Creators</a></li>
          <hr>
          <li><a class="menuitem" [routerLink]="[ '/products']">Товари</a></li>
          <hr>
          <li><a class="menuitem phone" [routerLink]="[ '/lasercut']">Вироби з металу</a></li>
          <hr class="phone">
          <li><a class="menuitem phone" [routerLink]="[ '/gardencube']">Садовий куб</a></li>
          <hr class="phone">
          <li><a class="menuitem phone" [routerLink]="[ '/loftfurniture']">Loft меблі</a></li>
          <hr class="phone">
        </ul>
      </div>
    </div>
  </div>
</header>
