<header [style.backgroundColor]="background?'transparent':'#333'">
  <div class="center-block">
    <div class="logo">
      <a [routerLink]="[ '/home' ]">LaserHub</a>
    </div>
    <div class="nav-end">
      <div class="nav-start">
        <div class="products">
          <a [routerLink]="[ '/products' ]">Товари</a>
        </div>
      </div>
      <div class="blog">
        <a [routerLink]="[ '/blog' ]">Блог</a>
      </div>
      <div class="contacts">
        <a [routerLink]="[ '/contacts' ]">Контакти</a>
      </div>
      <div class="store-creators">
        <a [routerLink]="[ '/storecreators' ]">Store Creators</a>
      </div>
      <div class="create">
        <a [routerLink]="[ '/create' ]">Create</a>
      </div>
    </div>
  </div>
</header>
