<div class="mb-3">
  <div class="mb-3">
    <label for="name" class="form-label">Заголовок:</label>
    <input type="text" class="form-control" [(ngModel)]="title" name="title">
  </div>
  <div class="mb-3">
    <label for="urlName" class="form-label">Опис:</label>
    <textarea type="text" class="form-control" [(ngModel)]="description" name="description"></textarea>
  </div>

  <ng-container *ngIf="!imageStatus; else elseTemplate">
    <div class="custom-file">
      <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="urlImage" required>
      <label class="custom-file-label" for="urlImage">Choose file...</label>
    </div>
    <div class="progress mt-3 mb-3">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
        [style.width]="(uploadPercent | async) + '%'" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div style="display: flex;align-items: center;" class="image mb-3">
      <img style="display: block;margin-right: 20px ;" [src]="image" alt="" width="300px">
      <i style="cursor: pointer;" class="bi bi-trash-fill ml-3" (click)="deleteImage()"></i>
    </div>
  </ng-template>

  <button *ngIf="!editStatus" type="button" class="btn btn-success" (click)="addOut()">Add</button>
  <button *ngIf="editStatus" type="button" class="btn btn-primary" (click)="saveOut()">Save</button>
</div>
<table style="text-align: center;" class="table align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Картинка</th>
      <th scope="col">Опис</th>
      <th scope="col">Редагувати</th>
      <th scope="col">Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let out of outsourcingArray,index as i">
      <td>{{i+1}}</td>
      <td>{{out.title}}</td>
      <td><img width="100px" alt="" src="{{out.image}}"></td>
      <td>{{out.description}}</td>
      <td><button class="btn btn-warning" (click)="editOut(out.id)">Редагувати</button></td>
      <td>
        <button class="btn btn-danger" (click)="deleteOut(out.id)" [disabled]="editStatus">Видалити</button>
      </td>
    </tr>
  </tbody>
</table>
