<footer>
  <div class="site-info col-md-4 col-sm-3" [routerLink]="[ '/home' ]">
    ©2021 laserhub
    <div class="flex-icons"><i style="color: rgb(99, 99, 252);" class="bi bi-telegram"></i>
      <i style="color: green;" class="bi bi-whatsapp"></i>
      <div></div>
    </div>
    <span>+380967350536</span>
  </div>
  <div class="col-md-8 col-sm-9">
    <ul class="footer-links">
      <li><a [routerLink]="[ '/products' ]">Товари</a></li>
      <li><a [routerLink]="[ '/blog' ]">Блог</a></li>
      <li><a [routerLink]="[ '/contacts' ]">Контакти</a></li>
      <li><a [routerLink]="[ '/storecreators' ]">Store Creators</a></li>
    </ul>
  </div>
</footer>
