footer {
    text-align: center;
    border-top: 0px solid #efefef;
    display: flex;
    justify-content: center;
    margin:  25px auto;
    font-weight: bolder;
    font-family: 'montserrat',sans-serif;
}

.site-info {
    color: rgb(181, 186, 197);
    letter-spacing: -0.015em;
    font-size: 13px;
    padding-left: 15%;
    cursor: pointer;
}

ul.footer-links {
    list-style-type: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul.footer-links li, ul.footer-links li a {
    cursor: pointer;
    font-size: 13px;
    color: #BBC0CB;
    text-decoration: none;
}

ul.footer-links li {
    display: inline;
    margin-left: 10px;
}

ul.footer-links li:not(:last-of-type)::after{
    content: "|";
    margin-left: 10px;
}
