.description-section {
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: rgb(238, 237, 237);

}

.main-block {
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;

  .main-image {

    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
    }
  }

  .main-info {
    padding-top: 3%;
    width: 50%;
    text-align: left;
    padding-left: 3%;
    font-family: 'Source Sans Pro', sans-serif;

    h2 {
      font-size: 38px;
      font-weight: 500;
    }

    h3 {
      color: rgb(106, 106, 106);
      font-size: 17px;
    }

    h4 {
      font-weight: 400;
      font-style: normal;
      line-height: 1.65;
    }

    label {
      margin-right: 10px;
    }

    p {
      margin-top: 40px;
      padding-right: 30%;
    }
  }
}

.busket {
  padding-top: 20px;

  a {
    cursor: pointer;
    line-height: 55px;
    width: 150px;
    height: 60px;
    display: block;
    background: transparent;
    padding: 0px 22px;
    color: black;
    border: 2px solid black;
    transition: all .32s ease-out;
  }

  a:hover {
    text-decoration: none;
    background: #1285E8;
    border-color: white;
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .description-section {
    padding-top: 80px;

  }

  .main-block {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main-info {
      width: 80%;

      p {
        margin-top: 30px;
        padding-right: 5%;
      }
    }

  }


}

@media screen and (max-width: 500px) {
  .main-block {
    .main-info {
      width: 90%;
    }
  }
}

@media screen and (max-width: 460px) {
  .main-block {
    .main-image {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}
