<div id="outsourcing-hero">
  <h1>Підкорюй такі площадки як: Ebay, Etsy, Shopify.</h1>
</div>
<section class="block-info">
  <h2 class="header-title-processes">Як це працює</h2>
  <p class="header-processes-p">Завдяки нашому лазеру та станків для обробки металу, Ви можете створювати якісні
    продукти для власних потреб чи для продажу у своєму магазині.</p>
  <p class="header-processes-p smaller-size">Детальнінше про партнерство:</p>
  <div class="render-block" *ngFor="let out of outsourcingArray,index as i">
    <div class="slide-photo" [style.Order]="(i%2===0)?'2':'1'"><img src="{{out.image}}"
        alt="Lasergist Laser Cutter Outsourcing">
    </div>
    <div class="col-md-6 processes-content" [style.Order]="(i%2===0)?'1':'2'">
      <div class="process-valign">
        <h3 class="processes-title">{{out.title}}</h3>
        <p style="white-space: pre-line" [innerHTML]="out.description"></p>
        <p></p>
      </div>
      <p></p>
    </div>
  </div>
</section>