#outsourcing-hero {
  height: 480px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'montserrat', helvetica, arial, sans-serif;
    display: block;
    max-width: 680px;
    position: relative;
    font-size: 42px;
  }

  h1:after {
    content: 'Створити магазин';
    display: block;
    font-size: 12px;
    background-color: #12c2ac;
    margin: 0 auto;
    width: 160px;
    margin-top: 21px;
    padding: 8px;
    cursor: pointer;
    transition: all .35s;
  }

  h1:hover::after {
    background-color: #1285e8;
  }
}



.block-info {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 32px;
  }

  h2::after {
    content: '';
    width: 50px;
    height: 1px;
    border-top: 4px solid #1285e8;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  p.header-processes-p {
    font-size: 20px;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  p.header-processes-p.smaller-size {
    font-size: 17px;
    margin-bottom: 70px;
    font-weight: bold;
    color: rgba(0, 10, 40, .35);
  }
}

.render-block {
  height: 530px;
  display: flex;
  justify-content: center;
  max-width: 1600px;
}

.slide-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;

  }
}

.processes-content {
  height: 530px;
  padding: 60px;
  display: table;

  p {
    margin: 0 0 10px;
    line-height: 25px;
  }

  h3 {
    font-size: 34px;
    font-family: 'montserrat';
    margin-bottom: 20px;
  }
}

.process-valign {
  display: table-cell;
  vertical-align: middle;
}

#processes #processes .processes-content p {
  font-size: 19px;
  margin-bottom: 25px;
  max-width: 90%;
}

@media screen and (max-width: 1000px) {
  .render-block {
    flex-direction: column;
    align-items: center;
    min-height: 900px;
    max-height: 1000px;
  }

  .col-md-6 {
    width: 100%;
    flex: auto;
  }
}

@media screen and (max-width: 500px) {
  .processes-content {
    padding: 60px 30px;
  }

  .render-block {
    min-height: 838px;
  }
}
