<section class="section-goods">
  <div class="main-block">
    <div class="mini-block" [routerLink]="[ '/lasercut' ]">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/lazerhub-23fa1.appspot.com/o/images%2Fgoodscategory%2FAvengers-Wooden-Wall-Decor-Wall-Art-Home-Decoration.jpg?alt=media&token=0e0059b9-0ed9-434a-bb20-12b0758c63cb"
        alt="">
      <p>Вироби з металу</p>
    </div>
    <div class="mini-block" [routerLink]="[ '/gardencube' ]"><img
        src="https://firebasestorage.googleapis.com/v0/b/lazerhub-23fa1.appspot.com/o/images%2Fgoodscategory%2F128313049_3775035692541598_2565410795886172420_o.jpg?alt=media&token=9dd168bb-7013-48cb-9ec2-aa765a7355a6"
        alt="">
      <p>Садовий куб</p>
    </div>

    <div class="mini-block" [routerLink]="[ '/loftfurniture' ]"><img
        src="https://firebasestorage.googleapis.com/v0/b/lazerhub-23fa1.appspot.com/o/images%2Fgoodscategory%2FIMG_2224.JPG?alt=media&token=3a173112-ae78-494b-89a1-930ef3297189"
        alt="">
      <p>Loft меблі</p>
    </div>
  </div>
</section>
