<section class="section-goods">
  <div class="main-block">
    <div class="mini-block" [routerLink]="[ '/lasercut' ]">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/laserhub-91a41.appspot.com/o/prod%2FAvengers-Wooden-Wall-Decor-Wall-Art-Home-Decoration.jpg?alt=media&token=e8cc9691-d96b-4e14-a4eb-7580c8ee2517"
        alt="">
      <p>Вироби з металу</p>
    </div>
    <div class="mini-block" [routerLink]="[ '/gardencube' ]"><img
        src="https://firebasestorage.googleapis.com/v0/b/laserhub-91a41.appspot.com/o/prod%2F128313049_3775035692541598_2565410795886172420_o.jpg?alt=media&token=74dd1c66-1982-451d-9e04-26e82eff2142"
        alt="">
      <p>Садовий куб</p>
    </div>

    <div class="mini-block" [routerLink]="[ '/loftfurniture' ]"><img
        src="https://firebasestorage.googleapis.com/v0/b/laserhub-91a41.appspot.com/o/prod%2FIMG_2224.JPG?alt=media&token=c10c7365-d249-45ce-aebe-3b96ba97dabd"
        alt="">
      <p>Loft меблі</p>
    </div>
  </div>
</section>
